.button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  background: #86bc25;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
  &:hover{
    background-color:#86bf25;
    cursor: pointer;
    scale: 1.2;
  }
}
